.about-page {
  padding: 40px 20px;
  /* max-width: 900px; */
  margin: 0 auto;
  font-family: "Segoe UI", sans-serif;
  color: #222;
  background: rgb(49, 224, 49);
}

.about-title {
  text-align: center;
  font-size: 36px;
  color: Black;
  margin-bottom: 20px;
}

.section-title {
  font-size: 24px;
  color: #003f9e;
  margin-bottom: 10px;
  border-bottom: 2px solid #0056d2;
  padding-bottom: 5px;
}

.about-description {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.about-section {
  margin-bottom: 30px;
  padding: 20px;
  background: lightgrey;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.feature-list, .tech-list, .workflow-list {
  margin-left: 20px;
}

.feature-list li, .tech-list li, .workflow-list li {
  margin-bottom: 10px;
  font-size: 15px;
}

.workflow-list li {
  margin-bottom: 12px;
}

.footer-note {
  text-align: center;
  margin-top: 40px;
  font-style: italic;
  color: #555;
}
